.flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.filtre_margin {
    margin-right: 15px;
}

.scale-icon-filter {
    transform: scale(1.3);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}