/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* FILTER */
    .filter {
        display: flex;
        align-items:stretch;
        flex-direction : column;
    }

    /* HEBERGEMENTS ET POPULAIRES */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* ACTIVITE */

    .one-card-activites img {
        aspect-ratio: 1/1;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    header {
        padding: 20px;

        padding-bottom: 0px;
    }

    /* NAV */

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    .nav-ul {
        display: flex;

        padding: 0px;

        gap: 0px;
        width: 100%;
    }

    .nav-ul li {
        width: 50%;
        padding: 0px;

        display: flex;
        justify-content: center;

        border-bottom-style: solid;
        border-width: 2px;
        border-color: var(--filter-bg-color);
    }

    .nav-button {
        padding-top: 14px;
        padding-bottom: 14px;

        border-bottom-style: none;
    }

    .nav-button:hover {
        border-top-style: none;
    }

    .nav-ul li:hover {
        border-color: var(--main-color);
        color: var(--main-color);
    }

    /* RESEARCH */
    #recherche {
        display: none;
    }

    #icone-research-phone {
    visibility: visible;
    }

    input[type='search'] {
        padding-right: 25px;
    }

    /* FILTER */
    .all-filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .all-filters h3 {
        font-size: 15px;
    }

    .one-filter {
        width: 120px;

        margin: 0px;

        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;

        padding: 15px;
    }
    
    /* HEBERGEMENT-ET-POPULAIRES */
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        margin-top: 0px;
    }

    /* POPULAIRES */
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* HEBERGEMENT */
    .hebergements {
        background-color: white;
    }

    .hebergements-cards a {
        margin-left: 0px;
    }

    /* ACTIVITES */

    .card-activites {
        flex-direction: column;
    }

    .card-activites a {
        width: 85%;
    }

    .card-activites img {
        max-height: 200px;
    }

    .section-activites a {
        padding-bottom: 20px;
    }

    .activites .section-title {
        padding-left: 30px;
    }

    /* FOOTER */
    footer {
        display: flex;
        flex-direction: column;
    }
}